<nav class="container">
    <div class="navbar-left">
      <mat-icon >menu</mat-icon>
    </div>
    <span class="dashboard-title">Forgot Password</span>
    <div class="navbar-right " >
        <a class="loginClass" routerLink="" >Login</a>
      </div>
  </nav>
<form (ngSubmit)="submitForm()">
    <div id="div-out">
    <table >
        <td><label for="email">Email</label></td>
        <td><input type="email" id="email" name="email" [(ngModel)]="email" required></td>
    </table>
    <button type="submit">Submit</button>
</div>
</form>