nav {
  background-image: linear-gradient(to bottom, #33ccff 0%, #0B539F 100%);
  background-size: 200%;
  justify-content: space-between;

  display: flex;
  align-items: center;
  padding: 20px;
}


.navbar-left {
  display: flex;
  align-items: center;
  color: #f2f2f2;
}

.loginClass {
  margin-left: 10px;
  color: white;
}

form #div-out {
  background-color: silver;
  margin: auto;
  width: 350px;
  height: auto;
  padding: 10px;
  margin-top: 50px;
  border: 1px solid black;
}

form #theaters {
  display: flex;
}

form #div-out #div1,
#div2,
#div3,
#div4 {
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 15px;
}

form #div-out button {
  margin: 15px;
  padding: 10px 20px 10px 20px;
  background-color: skyblue;
}

.navbar-right {
  display: flex;
  align-items: center;
  color: #f2f2f2;

}

.container {
  background-color: black;
}

.dashboard-title {
  text-align: center;
  color: #f2f2f2;
  font-size: 30px;
}

h3 {
  margin-left: 120px;
  padding-top: 10px;
  margin-bottom: -5px;
}